* {
  font-family: 'Karla', sans-serif;
  color: #f29797;
}

h2 {
  margin: 0;
}

body {
  background-color: #73605B;
  margin: 0;
  box-sizing: border-box;
}

img {
  object-fit: cover;
  width: 100%;
}

/* HEADER */

header {
  display: flex;
  flex-direction: column-reverse;
  background-color: #2D4262;
}

.user-name {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: small;
}

.nav-block {
  display: flex;
  flex-direction: column;
}

.headline {

}

.navigation {
  font-size: small;
}

.grid-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-size: large;
}

.grid-box {
  display: grid;
  grid-template-columns: 100%;
  align-items: center;
  justify-items: center;
  width: 95%;
  margin: 1px;
}

.info-box {
  background-color: #363237;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  margin: 10px 0;
  width: 95%;
  height: 400px;
}

.img-box {
  width: 100%;
  height: 40%;
  overflow: hidden;
}

/* TABLET */

@media screen and (min-width: 450px) {

.nav-block {
  flex-direction: column;
  align-items: center
}

.grid-box {
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: 1px;
}

.info-box {
  width: 350px;
}

}


/* DESKTOP */

@media screen and (min-width: 1024px) {

  .nav-block {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
  }

  .headline {
    width: 50%;
    display:flex;
    justify-content: flex-end;
  }

  .navigation {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50%;
  }

  .grid-title {
    justify-content: flex-start;
    margin: 40px;
  }

  .grid-box {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    margin: 1px;
  }

  .info-box {
    width: 95%;
  }

}


/* COLORS
Deep Purple: #363237;
Indigo: #2D4262;
Taupe: #73605B;
Accents: #64cdb4;
Fleshy: #f29797; */
